body {
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: "positions";
    src: url(PositionsByArixbored-Regular\ .woff);
}

h1 {
    font-family: "positions";
    font-size: 100px;
    color: red
}

body {
    font-family: Arial, Helvetica, sans-serif;
}