body {
    background-color: rgb(8, 255, 8);
    font-family: 'Courier New', Courier, monospace
}

@font-face {
    font-family: "positions";
    src: url(PositionsByArixbored-Regular\ .woff);
}

h1 {
    font-family: "positions";
    font-size: 150px;
    color: rgb(19, 157, 26)
}

h2 {
    position: 100px
}
body {
    font-family: 'Courier New', Courier, monospace
}